@()(implicit req: RequestHeader)

@scripts = {
    <script type="text/jsx" src="@routes.Assets.at("javascripts/browser.js")"></script>
    <script type="text/jsx">
        /** @@jsx React.DOM */
        React.renderComponent(<Browser url="@routes.Application.getProducts" />, document.getElementById("content"));
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".addToCart").tooltip();
        });
    </script>
}

@main("e-Commerce Prototype", scripts) {
    @helper.javascriptRouter("jsRoutes")(
        routes.javascript.Application.shoppingCart,
        routes.javascript.Application.updateShoppingCart
    )
    
    <div class="container">
        <h3>Products Browser</h3>
        <h5>e-Commerce Prototype</h5>
        <hr />
        
        <div id="content"></div>
    </div>
}
